.file {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.file__info {
  display: flex;
  align-items: center;
}

.file__name {
  margin-left: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: var(--green-1);
}

.file__button {
  cursor: pointer;
}

.file__icon {
  height: 22px;
  fill: var(--green-3);
}

.file__delete {
  height: 20px;
  fill: var(--green-4);
}
