.button {
  cursor: pointer;
  width: 100%;
  border-radius: 5px;
  padding: 12px 20px;
  background-color: var(--orange-1);
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.375rem;
  text-align: center;
  color: var(--white-1);
  word-break: break-all;
}

.button:disabled {
  cursor: not-allowed;
  position: relative;
  background-color: var(--orange-2);
}

.button:disabled::before {
  border-radius: 5px;
  display: block;
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--white-1);
}
