.upload-button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 4px 10px var(--grey-5);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--orange-1);
  cursor: pointer;
}

.upload-button--loaded {
  cursor: not-allowed;
  background-color: var(--white-1);
}

.upload-button__check {
  height: 15px;
  stroke: var(--green-2);
}

.upload-button__plus {
  height: 13px;
  fill: var(--white-1);
}

.upload-button__upload {
  height: 14px;
  fill: var(--white-1);
}

.upload-button__text {
  display: none;
  margin-right: 8px;
  font-family: "Titillium Web", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 20px;
  color: var(--white-1);
}

@media screen and (min-width: 768px) {
  .upload-button {
    width: auto;
    padding: 10px 13px;
    border-radius: 20px;
  }

  .upload-button__text {
    display: block;
  }
}
