.load-single {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  overflow: hidden;
}

.load-single__content {
  padding: 16px 4px;
  overflow: auto;
  border-radius: 5px;
  background-color: var(--white-1);
}

.load-single__main {
  padding: 4px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.load-single__head {
  margin-bottom: 20px;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 24px;
  text-align: center;
  color: var(--green-1);
}

.load-single__info {
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.4;
  text-align: center;
  color: var(--green-1);
}

.load-single__files {
  margin: 10px 0;
  width: 100%;
  transition: margin 300ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0ms;
}

.load-single__files--open {
  margin: 20px 0;
  transition-delay: 300ms;
}

.load-single__file {
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 10px;
  background-color: var(--grey-1);
}

.load-single__file--last {
  margin-bottom: 0;
}

.load-single__button {
  cursor: pointer;
  padding: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.load-single__button-icon {
  height: 28px;
  fill: var(--orange-1);
}

.load-single__button-text {
  margin-top: 5px;
  text-align: center;
  color: var(--orange-1);
}

.load-single__manual {
  margin-top: 20px;
  font-size: 14px;
  line-height: 1.4;
  text-align: center;
  color: var(--green-5);
}

.load-single__save {
  opacity: 0;
  padding-top: 10px;
  width: 100%;
  transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.load-single__save--visible {
  opacity: 1;
}
