:root {
  --orange-1: #ff8d02;
  --green-1: #0c6658;
  --green-2: #2ecc71;
  --green-3: #cbd7d5;
  --green-4: #dce1d7;
  --green-5: #0c665854;
  --grey-1: #f3f3f2;
  --grey-2: #333333;
  --grey-3: #8c8d8f;
  --grey-4: #d3d3d3;
  --grey-5: #00000029;
  --grey-6: #f1f5f7;
  --grey-7: #f9f9f9;
  --grey-8: #0000008c;
  --white-1: #ffffff;
  --blue-1: #0096ff;
}
