* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline-color: var(--orange-1);
}

body {
  background-color: var(--grey-1);
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.375;
  color: var(--grey-2);
}

button {
  font-family: inherit;
  color: inherit;
  background-color: transparent;
  border: none;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
