.load {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  overflow: hidden;
}

.load__content {
  max-width: 560px;
  padding: 16px 4px;
  overflow: auto;
  border-radius: 5px;
  background-color: var(--white-1);
}

.load__main {
  padding: 4px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.load__head {
  margin-bottom: 20px;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 32px;
  text-align: center;
  color: var(--green-1);
  word-break: break-all;
}

.load__info {
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.4;
  text-align: center;
  color: var(--green-1);
}

.load__files {
  margin: 10px 0;
  width: 100%;
}

.load__file {
  margin-bottom: 10px;
  border-radius: 5px;
  padding: 10px;
  background-color: var(--grey-1);
}

.load__button {
  cursor: pointer;
  padding: 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.load__button-icon {
  height: 28px;
  fill: var(--orange-1);
}

.load__button-text {
  margin-top: 5px;
  text-align: center;
  color: var(--orange-1);
}

.load__manual {
  margin-top: 20px;
  font-size: 14px;
  line-height: 1.4;
  text-align: center;
  color: var(--green-5);
}

.load__save {
  --load-save-fade: 300ms;
  padding-top: 10px;
  width: 100%;
  max-width: 560px;
  transition: opacity 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.load__line {
  border: none;
  margin: 20px 0;
  width: 100%;
  height: 1px;
  background-color: var(--grey-6);
}

.load__rename {
  margin-bottom: 5px;
  font-size: 14px;
  line-height: 1.4;
  text-align: center;
  color: var(--green-1);
}

.load__tip {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 12px;
  line-height: 22px;
  color: var(--black-1);
}
