.category {
  background-color: var(--white-1);
}

.category:first-of-type {
  border-top: 1px solid var(--grey-6);
}

.category:first-of-type .category__content {
  border-top: none;
}

.category:last-of-type {
  border-bottom: 1px solid transparent;
}

.category:last-of-type .category__content {
  border-bottom: 1px solid var(--grey-6);
}

.category--opened + .category > .category__content {
  transition: border-top-color 300ms ease-in;
  transition-delay: 300ms;
  border-top-color: transparent;
}

.category.category--opened > .category__content {
  transition: border-bottom-color 300ms ease-in;
  transition-delay: 300ms;
  border-bottom-color: transparent;
}

.category__content {
  margin: 0 20px;
  border-top: 1px solid var(--grey-6);
  padding: 18px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.category__button {
  cursor: pointer;
  display: flex;
  align-items: center;
}

.category__label {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: var(--green-1);
}

.category__left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.category__right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.category__question {
  cursor: pointer;
  margin-left: 8px;
  border-radius: 50%;
  width: 22px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--green-3);
}

.category__arrow {
  margin-right: 8px;
  height: 12px;
  stroke: var(--green-1);
  transition: transform 300ms cubic-bezier(0.4, 0, 0.2, 1);
}

.category__arrow--opened {
  transform: rotate(90deg);
}

.category__symbol {
  height: 9px;
  fill: var(--white-1);
}

.category__count {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--grey-7);
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  color: var(--green-2);
}

.category__files {
  height: 100px;
  padding: 21px 40px;
  background-color: var(--grey-7);
}

.category__file:not(:last-of-type) {
  margin-bottom: 6px;
}
