.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: block;
  visibility: visible;
  background-color: var(--grey-5);
  transition: opacity 300ms ease-in;
}

.modal--opened {
  opacity: 1;
  animation-name: modalOverlayFadeIn;
  transition-delay: 0ms;
  animation-duration: 300ms;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation-fill-mode: forwards;
  animation-delay: 0ms;
}

.modal--closed {
  opacity: 0;
  animation-name: modalOverlayFadeOut;
  transition-delay: 300ms;
  animation-duration: 300ms;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation-fill-mode: forwards;
  animation-delay: 600ms;
}

.modal__body {
  border-radius: 8px;
  box-sizing: border-box;
  position: absolute;
  z-index: 1;
  left: 50%;
  max-height: 90%;
  width: calc(100% - 30px);
  min-width: 300px;
  max-width: 740px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: flex-start;
  background-color: white;
}

.modal__body--opened {
  top: 0;
  transform: translate(-50%, -100%);
  animation-name: modalBodySlideIn;
  animation-duration: 300ms;
  animation-delay: 300ms;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

.modal__body--closed {
  top: 50%;
  transform: translate(-50%, -50%);
  animation: modalBodySlideOut;
  animation-duration: 300ms;
  animation-delay: 0ms;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes modalOverlayFadeIn {
  from {
    visibility: hidden;
    display: none;
  }
  to {
    visibility: visible;
    display: block;
  }
}

@keyframes modalOverlayFadeOut {
  from {
    visibility: visible;
    display: block;
  }
  to {
    visibility: hidden;
    display: none;
  }
}

@keyframes modalBodySlideIn {
  from {
    top: 0;
    transform: translate(-50%, -100%);
  }
  to {
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

@keyframes modalBodySlideOut {
  from {
    top: 50%;
    transform: translate(-50%, -50%);
  }
  to {
    top: 0;
    transform: translate(-50%, -100%);
  }
}
