.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: block;
  visibility: visible;
  background-color: var(--grey-8);
}

.modal--opened {
  animation-name: modalFadeIn;
  transition-delay: 0ms;
  animation-duration: 300ms;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation-fill-mode: forwards;
  animation-delay: 0ms;
}

.modal--closed {
  animation-name: modalFadeOut;
  transition-delay: 300ms;
  animation-duration: 300ms;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation-fill-mode: forwards;
  animation-delay: 600ms;
}

.modal__body {
  position: absolute;
  z-index: 1;
  left: 50%;
  max-height: 85%;
  width: calc(100% - 40px);
  max-width: 560px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.modal__body--opened {
  top: 0;
  transform: translate(-50%, -100%);
  animation-name: modalBodySlideIn;
  animation-duration: 300ms;
  animation-delay: 300ms;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

.modal__body--closed {
  top: 50%;
  transform: translate(-50%, -50%);
  animation: modalBodySlideOut;
  animation-duration: 300ms;
  animation-delay: 0ms;
  animation-timing-function: ease-out;
  animation-fill-mode: forwards;
}

@keyframes modalFadeIn {
  from {
    opacity: 0;
    visibility: hidden;
    display: none;
  }
  to {
    opacity: 1;
    visibility: visible;
    display: block;
  }
}

@keyframes modalFadeOut {
  from {
    opacity: 1;
    visibility: visible;
    display: block;
  }
  to {
    opacity: 0;
    visibility: hidden;
    display: none;
  }
}

@keyframes modalBodySlideIn {
  from {
    top: 0;
    transform: translate(-50%, -100%);
  }
  to {
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

@keyframes modalBodySlideOut {
  from {
    top: 50%;
    transform: translate(-50%, -50%);
  }
  to {
    top: 0;
    transform: translate(-50%, -100%);
  }
}
