.lead-info {
  background-color: var(--white-1);
}

.lead-info__title {
  padding: 18px 20px;
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  font-size: 28px;
  line-height: 43px;
  color: var(--green-1);
}

.lead-info__content {
  padding: 16px 20px;
  background-color: var(--grey-1);
}

.lead-info__label {
  font-weight: 300;
  color: var(--green-1);
}

.lead-info__label strong {
  font-weight: 600;
}

.lead-info__description {
  padding: 24px 20px 26px 20px;
  font-weight: 300;
  color: var(--grey-2);
}
