.general-info {
  border-radius: 5px;
  padding: 16px 4px;
  background-color: var(--white-1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.general-info__content {
  padding: 4px 16px;
  overflow: auto;
}
