.error {
  width: 100%;
  border-radius: 5px;
  padding: 16px 4px;
  background-color: var(--white-1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.error__content {
  padding: 4px 16px;
  overflow: auto;
}

.error__icon-wrap {
  margin-bottom: 4px;
  display: flex;
  justify-content: center;
}

.error__icon {
  stroke: var(--red-1);
  height: 38px;
}

.error__head {
  margin-bottom: 18px;
  font-family: "Titillium Web", sans-serif;
  font-weight: 400;
  font-size: 1.75rem;
  line-height: 2rem;
  text-align: center;
  color: var(--red-1);
}

.error__text {
  margin-bottom: 20px;
  font-weight: 300;
  font-size: 0.875rem;
  line-height: 1.5rem;
  color: var(--black-4);
}

.error__paragraph:not(:last-of-type) {
  margin-bottom: 16px;
}
